:root {
  --body-bg-color: whitesmoke;
  --main-bg-color:#FFFF88;
  --accent-color: #cecece;
}


body {

  font-family:'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todoList {
  display: flex;
  flex-direction: column;

  margin: 2em auto;
  padding: 2em;
  max-width: 50%;

  align-items: center;

  background: var(--main-bg-color);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todoItem {
  display: flex;
  flex-direction: row;
  padding: 1em 1em 0;
  width: 60%;
  color: #333333;
  font-weight: 100;
  border-bottom: 1px solid var(--accent-color);
  justify-content: flex-start;
  align-items: center;
}

#addTodo {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

#addTodo-input {
  background-color: var(--body-bg-color);
  outline: none;
  border-width: 0 0 1px;
  border-color: var(--accent-color);
  line-height: 2;
}

#addTodo-input, #addTodo-btn {
  font-size: 1.3em;
}

#addTodo-btn {
  font-weight: bold;
  background: var(--main-bg-color);

  margin-left: -1em;
  padding: .5em 1.5em;

  border-radius: 5px;
  border: 1px solid black;
}

input[type="checkbox"] {
  margin-right: 0.6em;
}

input[type=checkbox]:focus {
    outline: 0;
}

input[type=checkbox]:checked {
    opacity: 35%;
}

input[type=checkbox]:checked + p{
    opacity: 35%;
    text-decoration: line-through;
}
