body {

  font-family:'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todoList {
  display: flex;
  flex-direction: column;

  margin: 2em auto;
  padding: 2em;
  max-width: 50%;

  align-items: center;

  background: #FFFF88;
  border: 1px solid black;
  box-shadow:0 1px 1px rgba(0,0,0,0.15);

}

.todoItem {
  display: flex;
  flex-direction: row;
  padding: 1em;
  color: #333333;
  font-weight: 100;
}

input[type="checkbox"] {
  margin-right: 0.6em;
}

input[type=checkbox]:focus {
    outline: 0;
}
